
.icon-cloud-moon-inv:before { content: '\e800'; } /* '' */
.icon-menu:before { content: '\e801'; } /* '' */
.icon-github:before { content: '\f056'; } /* '' */
.icon-linkedin-rect:before { content: '\f31b'; } /* '' */
.icon-instagram:before { content: '\f31e'; } /* '' */
