@tailwind base;
@tailwind components;
@tailwind utilities;

.el-scrollbar__wrap {
    scroll-behavior: smooth;
}
.el-scrollbar__wrap .horizontal{
    display: flex;
}

@layer utilities{
    .transition-action{
        @apply transition-all ease-out duration-300;
    }
    .move-lines :nth-child(1){
        transform: rotateZ(45deg) translate(9px, 8px);
    }
    .move-lines :nth-child(2){
        opacity: 0;
    }
    .move-lines :nth-child(3){
        transform: rotateZ(-45deg) translate(8px, -8px);
    }
}